<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/Model.LicenseModel.csdl|res://*/Model.LicenseModel.ssdl|res://*/Model.LicenseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=172.16.4.40;initial catalog=LDS_LICENSES;user id=sa;password=datascan;MultipleActiveResultSets=True;App=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="app_configured" value="1" />
  </appSettings>
</configuration>